NameVirtualHost *:80

<VirtualHost *:80>
 ServerName		download.openvz.org
 ServerAlias	download.openvz.org
 ServerAdmin	kir@openvz.org

 DocumentRoot	{{ download_destination }}
</VirtualHost>

<VirtualHost *:80>
 ServerName     download.openvirtuozzo.org
 ServerAlias    download.openvirtuozzo.org
 ServerAdmin    kir@openvz.org

 Redirect permanent / http://download.openvz.org/
</VirtualHost>
